<a href="https://colab.research.google.com/github/Emmayhh/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [11]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [12]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_counts[application_counts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [18]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts_filtered = classification_counts[classification_counts > 1]
classification_counts_filtered

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [19]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))
# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [37]:
# Train the model
#  YOUR CODE GOES HERE
model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 2ms/step - loss: 1.1114 - accuracy: 0.6883 - val_loss: 1.4698 - val_accuracy: 0.6613
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 1.2390 - accuracy: 0.6867 - val_loss: 0.7944 - val_accuracy: 0.6989
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.8454 - accuracy: 0.7046 - val_loss: 0.6977 - val_accuracy: 0.7328
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.7463 - accuracy: 0.7167 - val_loss: 0.7089 - val_accuracy: 0.7336
Epoch 5/100
684/684 [==============================] - 2s 2ms/step - loss: 0.9299 - accuracy: 0.7081 - val_loss: 1.2424 - val_accuracy: 0.7087
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.9203 - accuracy: 0.7093 - val_loss: 0.6853 - val_accuracy: 0.7313
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.7782 - accuracy: 0.7180 - val_loss: 0.7053 - val_accuracy: 0.7388
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.7648 - accuracy: 0.7144 - val_loss: 0.7439 - val_accuracy: 0.6924
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.7608 - accuracy: 0.7112 - val_loss: 0.6975 - val_accuracy: 0.7225
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.7224 - accuracy: 0.7120 - val_loss: 0.6619 - val_accuracy: 0.7336
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6899 - accuracy: 0.7096 - val_loss: 0.6728 - val_accuracy: 0.7041
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6372 - accuracy: 0.7209 - val_loss: 0.6466 - val_accuracy: 0.7297
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6205 - accuracy: 0.7276 - val_loss: 0.6049 - val_accuracy: 0.7349
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6458 - accuracy: 0.7282 - val_loss: 0.6368 - val_accuracy: 0.7365
Epoch 15/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6491 - accuracy: 0.7223 - val_loss: 0.6366 - val_accuracy: 0.7352
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.6304 - accuracy: 0.7270 - val_loss: 0.6200 - val_accuracy: 0.7385
Epoch 17/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6487 - accuracy: 0.7165 - val_loss: 0.6104 - val_accuracy: 0.7336
Epoch 18/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6291 - accuracy: 0.7269 - val_loss: 0.5999 - val_accuracy: 0.7378
Epoch 19/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6255 - accuracy: 0.7249 - val_loss: 0.5990 - val_accuracy: 0.7380
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6447 - accuracy: 0.7226 - val_loss: 0.6341 - val_accuracy: 0.7232
Epoch 21/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6316 - accuracy: 0.7211 - val_loss: 0.6396 - val_accuracy: 0.7339
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6419 - accuracy: 0.7265 - val_loss: 0.6337 - val_accuracy: 0.7346
Epoch 23/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6206 - accuracy: 0.7277 - val_loss: 0.6027 - val_accuracy: 0.7362
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.6234 - accuracy: 0.7294 - val_loss: 0.6383 - val_accuracy: 0.7300
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6295 - accuracy: 0.7260 - val_loss: 0.6178 - val_accuracy: 0.7367
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6333 - accuracy: 0.7255 - val_loss: 0.6134 - val_accuracy: 0.7354
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6393 - accuracy: 0.7274 - val_loss: 0.6061 - val_accuracy: 0.7414
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6286 - accuracy: 0.7290 - val_loss: 0.5999 - val_accuracy: 0.7362
Epoch 29/100
684/684 [==============================] - 2s 2ms/step - loss: 0.6005 - accuracy: 0.7294 - val_loss: 0.5627 - val_accuracy: 0.7393
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6024 - accuracy: 0.7264 - val_loss: 0.5695 - val_accuracy: 0.7391
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5852 - accuracy: 0.7281 - val_loss: 0.5555 - val_accuracy: 0.7372
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5659 - accuracy: 0.7281 - val_loss: 0.5619 - val_accuracy: 0.7383
Epoch 33/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7322 - val_loss: 0.5589 - val_accuracy: 0.7414
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5657 - accuracy: 0.7318 - val_loss: 0.5690 - val_accuracy: 0.7406
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5731 - accuracy: 0.7247 - val_loss: 0.5616 - val_accuracy: 0.7393
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5732 - accuracy: 0.7293 - val_loss: 0.5850 - val_accuracy: 0.7157
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5680 - accuracy: 0.7300 - val_loss: 0.5682 - val_accuracy: 0.7362
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5775 - accuracy: 0.7287 - val_loss: 0.5764 - val_accuracy: 0.7365
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5592 - accuracy: 0.7304 - val_loss: 0.5560 - val_accuracy: 0.7370
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5666 - accuracy: 0.7316 - val_loss: 0.5617 - val_accuracy: 0.7375
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5740 - accuracy: 0.7306 - val_loss: 0.5680 - val_accuracy: 0.7375
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5661 - accuracy: 0.7303 - val_loss: 0.5570 - val_accuracy: 0.7378
Epoch 43/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5737 - accuracy: 0.7250 - val_loss: 0.5598 - val_accuracy: 0.7287
Epoch 44/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7303 - val_loss: 0.5614 - val_accuracy: 0.7393
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5736 - accuracy: 0.7314 - val_loss: 0.5721 - val_accuracy: 0.7334
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5659 - accuracy: 0.7298 - val_loss: 0.5617 - val_accuracy: 0.7396
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5653 - accuracy: 0.7312 - val_loss: 0.5763 - val_accuracy: 0.7227
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5613 - accuracy: 0.7257 - val_loss: 0.5725 - val_accuracy: 0.7336
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5596 - accuracy: 0.7282 - val_loss: 0.5512 - val_accuracy: 0.7336
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7336 - val_loss: 0.5466 - val_accuracy: 0.7401
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7332 - val_loss: 0.5663 - val_accuracy: 0.7331
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5652 - accuracy: 0.7293 - val_loss: 0.5546 - val_accuracy: 0.7419
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7305 - val_loss: 0.5549 - val_accuracy: 0.7409
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7317 - val_loss: 0.5542 - val_accuracy: 0.7385
Epoch 55/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5618 - accuracy: 0.7310 - val_loss: 0.5631 - val_accuracy: 0.7271
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5637 - accuracy: 0.7326 - val_loss: 0.5601 - val_accuracy: 0.7326
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5664 - accuracy: 0.7304 - val_loss: 0.5751 - val_accuracy: 0.7370
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5686 - accuracy: 0.7311 - val_loss: 0.5677 - val_accuracy: 0.7385
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5777 - accuracy: 0.7246 - val_loss: 0.5732 - val_accuracy: 0.7378
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5664 - accuracy: 0.7320 - val_loss: 0.5572 - val_accuracy: 0.7339
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5614 - accuracy: 0.7329 - val_loss: 0.5586 - val_accuracy: 0.7388
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5576 - accuracy: 0.7327 - val_loss: 0.5601 - val_accuracy: 0.7391
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5646 - accuracy: 0.7328 - val_loss: 0.5812 - val_accuracy: 0.7403
Epoch 64/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5637 - accuracy: 0.7327 - val_loss: 0.5776 - val_accuracy: 0.7375
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5617 - accuracy: 0.7346 - val_loss: 0.5593 - val_accuracy: 0.7403
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5597 - accuracy: 0.7308 - val_loss: 0.5560 - val_accuracy: 0.7385
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5590 - accuracy: 0.7340 - val_loss: 0.5776 - val_accuracy: 0.7292
Epoch 68/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7337 - val_loss: 0.5590 - val_accuracy: 0.7393
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5585 - accuracy: 0.7356 - val_loss: 0.5623 - val_accuracy: 0.7411
Epoch 70/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7332 - val_loss: 0.5634 - val_accuracy: 0.7334
Epoch 71/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7339 - val_loss: 0.5492 - val_accuracy: 0.7372
Epoch 72/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5662 - accuracy: 0.7279 - val_loss: 0.5842 - val_accuracy: 0.7380
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5749 - accuracy: 0.7307 - val_loss: 0.5746 - val_accuracy: 0.7365
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5650 - accuracy: 0.7351 - val_loss: 0.5730 - val_accuracy: 0.7362
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5630 - accuracy: 0.7345 - val_loss: 0.5776 - val_accuracy: 0.7339
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7362 - val_loss: 0.5948 - val_accuracy: 0.7393
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5750 - accuracy: 0.7355 - val_loss: 0.5714 - val_accuracy: 0.7375
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7341 - val_loss: 0.5645 - val_accuracy: 0.7370
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5954 - accuracy: 0.6862 - val_loss: 0.5560 - val_accuracy: 0.7349
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5578 - accuracy: 0.7333 - val_loss: 0.5672 - val_accuracy: 0.7365
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5621 - accuracy: 0.7308 - val_loss: 0.5588 - val_accuracy: 0.7401
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5545 - accuracy: 0.7348 - val_loss: 0.5674 - val_accuracy: 0.7403
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5564 - accuracy: 0.7342 - val_loss: 0.5706 - val_accuracy: 0.7336
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5565 - accuracy: 0.7351 - val_loss: 0.5715 - val_accuracy: 0.7359
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7352 - val_loss: 0.5671 - val_accuracy: 0.7378
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5557 - accuracy: 0.7339 - val_loss: 0.5679 - val_accuracy: 0.7414
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7362 - val_loss: 0.5739 - val_accuracy: 0.7409
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7342 - val_loss: 0.5642 - val_accuracy: 0.7357
Epoch 89/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7342 - val_loss: 0.5716 - val_accuracy: 0.7336
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5588 - accuracy: 0.7332 - val_loss: 0.5912 - val_accuracy: 0.7383
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5831 - accuracy: 0.7269 - val_loss: 0.6204 - val_accuracy: 0.7357
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5796 - accuracy: 0.7342 - val_loss: 0.5715 - val_accuracy: 0.7365
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7346 - val_loss: 0.5777 - val_accuracy: 0.7362
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5667 - accuracy: 0.7349 - val_loss: 0.5889 - val_accuracy: 0.7380
Epoch 95/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7355 - val_loss: 0.5885 - val_accuracy: 0.7370
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5657 - accuracy: 0.7298 - val_loss: 0.5756 - val_accuracy: 0.7380
Epoch 97/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7358 - val_loss: 0.5749 - val_accuracy: 0.7367
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5624 - accuracy: 0.7335 - val_loss: 0.5797 - val_accuracy: 0.7375
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7349 - val_loss: 0.5717 - val_accuracy: 0.7359
Epoch 100/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7360 - val_loss: 0.5672 - val_accuracy: 0.7370

In [38]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5724 - accuracy: 0.7285 - 314ms/epoch - 1ms/step
Loss: 0.5723811984062195, Accuracy: 0.7285131216049194

In [41]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('AlphabetSoupCharity.h5')